<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=IM Fell DW Pica SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
  <title>Book and a Brew</title>
</head>

<body>
  {% extends "base.html" %}
  {% block content%}
  <cart-items class="cart">
    <div class="yourCart">
      <h2 class="cartTitle">Your Cart</h2>
      <a href="{{url_for('CoffeeList')}}">Continue Shopping</a>
    </div>
    <div class="cartAttributes">
      <table>
        <thead>
          <tr>
            <th class="columnHeader">Product</th>
            <th class="columnHeader">Quantity</th>
            <th class="columnHeader">Price</th>
            <th class="columnHeader">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="cartItemMedia"style="width: 100px; height: auto;">{{coffeeImage}}</th>
            <th class="price"></th>
            <th class="quantity"></th>
            <th class="total"></th>
          </tr>
        </tbody>
      </table>
      <form>
        <select name="optionSelect" id="optionSelect">
          {{coffeeDropdown}}
        </select>
        <button type="button" class="addToCart">Add to Cart</button>
      </form>
    </div>
  </div>
  </cart-items>
  <!-- Add a cart list and a checkout button here-->
  {% endblock %}
</body>
</html>