<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=IM Fell DW Pica SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
  <title>Book and a Brew</title>
</head>

<body>
  {% extends "base.html" %}
  {% block content%}
  <cart-items class="cart">
    <div class="yourCart">
      <h2 class="cartTitle">Your Cart</h2>
      <a href="{{url_for('CoffeeList')}}">Continue Shopping</a>
    </div>
    <div class="cartAttributes">
      <form action="#" method="POST">
      <table>
        <thead>
          <tr>
            <th class="columnHeader">Product</th>
            <th class="columnHeader">Price</th>
            <th class="columnHeader">Quantity</th>
            <th class="columnHeader">Total</th>
          </tr>
        </thead>
        <tbody>
          <!-- The for loops in the body create the item sub totals -->
          {% for coffee in user_coffee_items %}
            {% set this_item_sub_total = coffee.quantity * coffee.price %}
            <tr>
              <td class="product">{{ coffee.coffeeName }}</td>
              <td class="price">{{ '%0.2f'| format(coffee.price|float) }}</td>
              <td class="quantity">{{ coffee.quantity }}</td>
              <td class="total">{{ '%0.2f'| format(this_item_sub_total|float) }}</td>
            </tr>
          {% endfor%}

          {% for book in user_book_items %}
            {% set this_item_sub_total = book.quantity * book.price %}
            <tr>
              <td class="product">{{ book.bookName }}</td>
              <td class="price">{{ '%0.2f'| format(book.price|float) }}</td>
              <td class="quantity">{{ book.quantity }}</td>
              <td class="total">{{ '%0.2f'| format(this_item_sub_total|float) }}</td>
            </tr>
          {% endfor %}
          {% for game in user_game_items %}
            {% set this_item_sub_total = game.quantity * game.price %}
            <tr>
              <td class="product">{{ game.gameName }}</td>
              <td class="price">{{ '%0.2f'| format(game.price|float) }}</td>
              <td class="quantity">{{ game.quantity }}</td>
              <td class="total">{{ '%0.2f'| format(this_item_sub_total|float) }}</td>
            </tr>
          {% endfor %}
          <tr class="subTotalRow">
            <td class="subTotal"><strong>Sub Total</strong>: </td>
            <td></td>
            <td></td>
            <td class="subTotal"><strong>{{ '%0.2f'| format(items_sub_total|float) }}</strong></td>
          </tr>
        </tbody>
      </table>
      </form>
    </div>
  </div>
  </cart-items>
  {% endblock %}
</body>
</html>