<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book and a Brew</title>
</head>

<body>
  {% extends "base.html" %}
  {% block content %}
  <div class="coffeeImageContainer">
    <img src="https://images.pexels.com/photos/894695/pexels-photo-894695.jpeg" alt="image">
    <div class="overlayText">Our Coffee
    </div>
    </div>

    <div class="coffeeContainer">
      <div class="coffeeContainer">
        <h2>Book Themed</h2>
        <div class="coffeeElement">
          <!-- On click, this points to the SecondBreakfast function in main.py -->
        <a href="{{url_for('SecondBreakfast')}}"><img src="https://m.media-amazon.com/images/I/81nV6x2ey4L._AC_UF1000,1000_QL80_.jpg">
          <p>Second Breakfast</p>
          <p class="description">add flavor notes here</p>
          </a>
        </div>
        <div class="coffeeElement">
          <!-- Likewise, this points to TheRoastOfLeaves function -->
          <a href="{{url_for('TheRoastOfLeaves')}}"><img src="https://m.media-amazon.com/images/I/51QoJuZLrlL._AC_UF1000,1000_QL80_.jpg">
          <p>The Roast of Leaves</p>
          <p class="description">add flavor notes here</p>
        </a>
        </div>
        <div class="coffeeElement">
          <!-- Link to AtTheCupsOfMadness -->
          <a href="{{url_for('AtTheCupsOfMadness')}}"><img src="https://m.media-amazon.com/images/I/71aD7mGX+2L._AC_UF1000,1000_QL80_.jpg">
          <p>At The Cups of Madness</p>
          <p class="description">add flavor notes here</p>
        </a>
        </div>
        <h2>Video Game Themed</h2>
        <div class="coffeeElement">
          <img src="https://upload.wikimedia.org/wikipedia/en/c/c6/The_Legend_of_Zelda_Breath_of_the_Wild.jpg">
          <p>Taste of the Wild</p>
          <p class="description">add flavor notes here</p>
        </div>
        <div class="coffeeElement">
          <img
            src="https://cdna.artstation.com/p/assets/images/images/004/162/094/large/airborn-studios-johannes-figlhuber-orideboxartflat.jpg?1480951974">
          <p>Placeholder</p>
          <p class="description">add flavor notes here</p>
        </div>
        <div class="coffeeElement">
          <img src="https://i.redd.it/gl0jcz2p9tjb1.jpg">
          <p>Placeholder</p>
          <p class="description">add flavor notes here</p>
        </div>
      </div>
    </div>
    {% endblock %}
</body>

</html>