<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="requirements">
        <h2>Welcome Back! Please sign in</h2>
        {{errorMessage}}
    </div>
    <div class="container">
        <form action="{{url_for('secretpage')}}">
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="email"> Email:</label>
                    <input type="email" name="email" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3">
                    <label for="password"> Password:</label>
                    <input type="password" name="password" class="form-control">
                </div>
            </div>
            <input type="submit" value="Log In">
        </form>
    </div>
    {% endblock %}
</body>

</html>