<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
  <link href="https://fonts.googleapis.com/css?family=IM Fell DW Pica SC" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lusitana" rel="stylesheet">
  <title>Book and a Brew</title>
</head>

<body>
  <div class="header">
    <div class="navigation">
      <h3 class="logo">BOOK AND A BREW</h3>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="HomePage.html" class="headerText">Home</a></li>
        <li><a href="CoffeeList.html" class="active headerText">Coffee</a></li>
        <li><a class="headerText">About Us</a></li>
      </ul>
    </div>
    <div class="navigation">
      <a href="cart.html"><p class="cart">Cart</p> </a>
    </div>
  </div>
  <h2 class="title">The Roast of Leaves</h2>
  <div class="coffeePage">
    <div class="coffeePicture">
      <img src="https://m.media-amazon.com/images/I/51QoJuZLrlL._AC_UF1000,1000_QL80_.jpg">
    </div>
    <div class="coffeeText">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non volutpat nunc. Sed vitae diam quis sapien venenatis consequat vitae a est. 
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi leo enim, tristique eu erat non, ullamcorper rutrum felis.
         Suspendisse quis laoreet libero. Maecenas dolor dolor, convallis ac mi et, vulputate fermentum erat. Sed leo tortor, dictum ut accumsan sed, mattis in dui. 
         Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse ullamcorper dui quis lacinia sodales.
          Integer a leo sed lorem facilisis pharetra sit amet id risus. Morbi metus eros, feugiat sit amet massa et, elementum rutrum libero. 
          Suspendisse id leo nec metus egestas sodales vitae vitae felis. Vivamus accumsan vulputate luctus. Praesent ut finibus lectus. 
          Donec vitae mauris at diam maximus sollicitudin.<br></p>


          <!-- Form to add items into the cart -->
          <form>
          <select name="optionSelect" id="optionSelect">
            <option value="The Roast of Leaves">The Roast of Leaves</option>
            <option value="The House of Leaves">The House of Leaves</option>
            <option value="The Roast of Leaves + The House of Leaves">The Roast of Leaves + The House of Leaves</option>
          </select>
          <button type="button" class="addToCart">Add to Cart</button>
        </form>


    </div>
  </div>
</body>
</html>